<!-- The content below is only a placeholder and can be replaced. -->
<div [style.background-color]="background">
  <app-header></app-header>
  <app-contacts></app-contacts>

<!--   <h2 [style.text-align] ="textAlign"> oh oh! Il n'y a pas de titre!</h2>
 -->
<!--   <div *ngIf="titre; then unTitre; else pasTitre">
    <h1 [style.text-align] ="textAlign">ne parait jamais</h1>
  </div>

  <ng-template  #unTitre>
    <h2 [style.text-align] ="textAlign">{{ titre }} </h2>
  </ng-template>

  <ng-template #pasTitre>
    <h2 [style.text-align] ="textAlign"> oh oh! Il n'y a pas de titre!</h2>
  </ng-template> -->

<!--   <button class="waves-effect waves-light btn" (click)="animateHeader()">Animate!</button>
 -->

</div>
